/fga/
/dga/
/hc/
/hcrr/
/sga/
/de/
/de-dga/
/rchc/
/dga_ackley/
/dga_rastarigin/
/dga_rosenbroc/
/dga_schwefel/
/dga_sphere/
/fga_ackley/
/fga_rastarigin/
/fga_rosenbroc/
/fga_schwefel/
/fga_sphere/
/hc_ackley/
/hc_rastarigin/
/hc_rosenbroc/
/hc_schwefel/
/hc_sphere/
/sga_ackley/
/sga_rastarigin/
/sga_rosenbroc/
/sga_schwefel/
/sga_sphere/
