/job.0.genotypes.txt
/job.0.genotypes_string.txt
/job.0.metagenes.txt
/job.0.metagenes_string.txt
/job.0.metamask.txt
/job.0.metamask_string.txt
/job.0.phenotypes.txt
/job.0.phenotypes_string.txt
/job.0.translatedmetagenes.txt
/job.0.translatedmetagenes_string.txt
/job.1.genotypes.txt
/job.1.genotypes_string.txt
/job.1.metagenes.txt
/job.1.metagenes_string.txt
/job.1.metamask.txt
/job.1.metamask_string.txt
/job.1.phenotypes.txt
/job.1.phenotypes_string.txt
/job.1.translatedmetagenes.txt
/job.1.translatedmetagenes_string.txt
/job.2.genotypes.txt
/job.2.genotypes_string.txt
/job.2.metagenes.txt
/job.2.metagenes_string.txt
/job.2.metamask.txt
/job.2.metamask_string.txt
/job.2.phenotypes.txt
/job.2.phenotypes_string.txt
/job.2.translatedmetagenes.txt
/job.2.translatedmetagenes_string.txt
/job.3.genotypes.txt
/job.3.genotypes_string.txt
/job.3.metagenes.txt
/job.3.metagenes_string.txt
/job.3.metamask.txt
/job.3.metamask_string.txt
/job.3.phenotypes.txt
/job.3.phenotypes_string.txt
/job.3.translatedmetagenes.txt
/job.3.translatedmetagenes_string.txt
/job.4.genotypes.txt
/job.4.genotypes_string.txt
/job.4.metagenes.txt
/job.4.metagenes_string.txt
/job.4.metamask.txt
/job.4.metamask_string.txt
/job.4.phenotypes.txt
/job.4.phenotypes_string.txt
/job.4.translatedmetagenes.txt
/job.4.translatedmetagenes_string.txt
